<ul class="toc right"><li><a href="#Web-Application-Command-Console">Web Application Command Console</a><ul><li><a href="#SYNOPSIS">SYNOPSIS</a></li><li><a href="#REQUIREMENTS">REQUIREMENTS</a></li><li><a href="#INSTALLATION">INSTALLATION</a></li><li><a href="#RESOURCES">RESOURCES</a></li><li><a href="#CONTRIBUTION">CONTRIBUTION</a></li><li><a href="#ORIGIN">ORIGIN</a></li><li><a href="#REFERENCES">REFERENCES</a></li></ul></li></ul>


<pre>
###########################################################
# Web Application Command Console README
# $Id$
#
# @package WACC
# @author Chris Feamster &lt;cfeamster@f2developments.com&gt;
# @author $LastChangedBy$
#
# @version 0.0.$GlobalRev$
# @copyright Copyright 2013-2015 Nexus Systems, Inc.
# @license https://nxsys.org/spaces/wacc/wiki/License
# Please see the license.txt file or the url above for full copyright and license information.
#
############################################################
</pre>

	<a name="SYNOPSIS"></a>
<h2 >SYNOPSIS<a href="#SYNOPSIS" class="wiki-anchor">&para;</a></h2>


	<p>A simple, convenient, and powerful way to access a predetermined subset of an application environment's functionality via the familiar command line interface.</p>


	<a name="REQUIREMENTS"></a>
<h2 >REQUIREMENTS<a href="#REQUIREMENTS" class="wiki-anchor">&para;</a></h2>


	<p>PHP:        5.3.5<br />HTTP Server:    FCGI Compliant<br />Browser*:    IE >=7.0, Moz >=4.0, WebKit >=530</p>


	<p>*Needs ajaxy goodness</p>


	<a name="INSTALLATION"></a>
<h2 >INSTALLATION<a href="#INSTALLATION" class="wiki-anchor">&para;</a></h2>


	<ol>
	<li>Extract</li>
		<li>Configure
	<ul>
	<li>Recomended: Move the Front Controller</li>
	</ul>
	</li>
		<li>Run</li>
	</ol>


	<a name="RESOURCES"></a>
<h2 >RESOURCES<a href="#RESOURCES" class="wiki-anchor">&para;</a></h2>


	<p>Project Location: <a class="external" href="http://www.nxsys.org/spaces/wacc">http://www.nxsys.org/spaces/wacc</a><br />
	Wiki Location: <a class="external" href="http://code.fnetit.net/projects/wacc/wiki">http://code.fnetit.net/projects/wacc/wiki</a></p>


	<a name="CONTRIBUTION"></a>
<h2 >CONTRIBUTION<a href="#CONTRIBUTION" class="wiki-anchor">&para;</a></h2>


	<p>{$HeadURL$}</p>


	<a name="ORIGIN"></a>
<h2 >ORIGIN<a href="#ORIGIN" class="wiki-anchor">&para;</a></h2>


Commissioned by F2 Developments. This is related to many "webconsole" apps out there but this works best for us and perhaps other devs too. We do however owe thanks to the following products:
	<ul>
	<li><a href="http://jquery.com/" class="external">JQuery</a>
	<ul>
	<li>MIT License</li>
	</ul>
	</li>
		<li><a href="http://silex.sensiolabs.org/" class="external">Silex</a>
	<ul>
	<li>MIT license</li>
	</ul>
	</li>
		<li><a href="https://github.com/symfony/Console" class="external">Symfony Console Component</a>
	<ul>
	<li>MIT License</li>
	</ul></li>
	</ul>


	<a name="REFERENCES"></a>
<h2 >REFERENCES<a href="#REFERENCES" class="wiki-anchor">&para;</a></h2>


	<p>Key words for use in RFCs to Indicate Requirement Levels<br /><a class="external" href="http://www.ietf.org/rfc/rfc2119.txt">http://www.ietf.org/rfc/rfc2119.txt</a></p>
